<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Portal IPet</title>
        <meta charset="utf-8">
        <style>
			.mbottom {
				margin-bottom: 10px;
			}
		</style>
    </head>
<h1>Ola {{vm.user.firstName}}!</h1>

<nav class="navbar navbar-default">
		    <div class="container-fluid">
		      <div>
		        <ul class="nav navbar-nav">
		          <li><a href="#/cliente">Clientes</a></li>
		          <li><a href="#/produto">Produtos e Serviços</a></li>
		          <li><a href="#/atendimento">Atendimento</a></li>
		          <li><a href="#/noticias">Noticias</a></li>
		        </ul>
		      	<p align="right" style="padding-top: 8px;"><a href="#/login" ng-click="sair()" class="btn btn-primary">Sair</a></p>
		      </div>
		    </div>
		  </nav>		  
</html>