<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Portal IPet</title>
        <meta charset="utf-8">
        <style>
			.mbottom {
				margin-bottom: 10px;
			}
		</style>
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a type="button" class="navbar-brand" href="#">Home  ></a>
              <a class="navbar-brand" >Cadastro de Clientes</a>
            </div>
          </div>
        </nav>
        
        <div ng-controller="crudClienteController">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well well-sm">
                            <button type="button" class="btn btn-primary" ng-click="abreCadastroCliente()">Novo cliente</button>
                            <button type="button" class="btn btn-danger" ng-click="cancelaCadastro()" ng-show="showCadastro">Cancelar</button>
                            <a type="button" class="btn btn-danger" href="#">Home</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container" ng-show="showCadastro">
                <form ng-submit="cadastrarNovoCliente()">
                    
                    <div class="row mbottom">
                        <div class="col-xs-3 text-right">
                            Nome:
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" ng-model="cliente.nome" required>
                        </div>
                    </div>
                    
                    <div class="row mbottom">
                        <div class="col-xs-3 text-right">
                            CPF:
                        </div>
                        <div class="col-xs-9">
                            <input type="text" placeholder="000.000.000-00" class="form-control" ng-model="cliente.cpf" required>
                        </div>
                    </div>
                    
                    <div class="row mbottom">
                        <div class="col-xs-3 text-right">
                            Telefone:
                        </div>
                        <div class="col-xs-9">
                            <input type="tel" placeholder="(99)9 9999-9999" required="required" maxlength="15" name="phone" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" class="form-control" ng-model="cliente.telefone" required>
                        </div>
                    </div>
                    
                    <div class="row mbottom">
                        <div class="col-xs-3 text-right">
                            Endereço:
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" ng-model="cliente.endereco" required>
                        </div>
                    </div>
                    
                     <div class="row mbottom">
                        <div class="col-xs-3 text-right">
                            Email:
                        </div>
                        <div class="col-xs-9">
                            <input placeholder="seu_email@dominio.com" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" ng-model="cliente.email" required>
                        </div>
                    </div>
                    
                    <div class="row mbottom">
                        <div class="col-xs-3 text-right">Observações:</div>
                        <div class="col-xs-9">
                            <textarea class="form-control" ng-model="cliente.observacao" rows="5"></textarea>
                        </div>
                    </div>
                    
                    <div class="row mbottom">
                        <div class="col-xs-9 col-xs-offset-3">
                            <button class="btn btn-danger" type="submit">Inserir</button>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                    
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th width="90">Data Cadastro</th>
                                    <th>Nome Cliente <input ng-model="f.value" ng-change="filter_by('nome')"></th>
                                    <th>CPF <input ng-model="f.value" ng-change="filter_by('cpf')"></th>
                                    <th>Telefone</th>
                                    <th>Endereço</th>
                                    <th>Email</th>
                                    <th>Pets</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                
                                <tr ng-repeat="cliente in allClientes">
                                	<td ng-show="cliente.show">{{ cliente.data_cadastro }}</td>
                                    <td ng-show="cliente.show">{{ cliente.nome }}</td>
                                    <td ng-show="cliente.show">{{ cliente.cpf }}</td>
                                    <td ng-show="cliente.show">{{ cliente.telefone }}</td>
                                    <td ng-show="cliente.show">{{ cliente.endereco }}</td>
                                    <td ng-show="cliente.show">{{ cliente.email }}</td>
                                    <td ng-show="cliente.show"><a type="button" class="btn btn-primary" href="#/animal" ng-click="abreCadastroPetsCliente(cliente)">Pets</a></td>
                                </tr>
                                
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>