<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Portal IPet</title>
        <meta charset="utf-8">
        <style>
			.mbottom {
				margin-bottom: 10px;
			}
		</style>
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
            	<a type="button" class="navbar-brand" href="#">Home  ></a>
                <a type="button" class="navbar-brand" href="#/cliente">Cadastro de Clientes  ></a>
                <a class="navbar-brand" href="#/animal">Cadastro de Pets  ></a>
              	<a class="navbar-brand">Atendimentos</a>
            </div>
          </div>
        </nav>
        
        <div ng-controller="crudAtendimentoController">
        	<div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well well-sm">
                            <a type="button" class="btn btn-danger" href="#">Home</a>
                        </div>
                    </div>
                </div>
            </div>
           <div class="container"> 
                <div class="row">
                    <div class="col-xs-12">
                    
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                	<th>Código</th>
                                    <th>Valor</th>
                                    <th>Data do Atendimento</th>
                                    <th>Detalhes</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                
                                <tr ng-repeat="atendimento in allAtendimentos">
                                	<td>{{ atendimento.id }}</td>
                                	<td>{{ atendimento.valor }}</td>
                                	<td>{{ atendimento.data_atendimento }}</td>
                                	<td><a type="button" class="btn btn-primary" href="#/listar.atendimento.itens" ng-click="abreListarAtendimentoItens(atendimento)">Itens</a></td>
                                </tr>
                                
                            </tbody>
                            
                        </table>
                        
                    </div>
                </div>
            </div>
    </body>
</html>